<div id='comments'>
  <% if @ticket.comments.exists? %>
    <% @ticket.comments.each do |comment| %>
      <%= comment.user %><br>
      State: <%= state_for(comment) %>
      <%= simple_format(comment.text) %>
      <%= comment.text %><br>
    <% end %>
  <% else %>
    There are no comments for this ticket.
  <% end %>
</div>
