<div id='comments'>
  <% if @ticket.comments.exists? %>
    <% @ticket.comments.each do |comment| %>
      <%= comment.user %><br>
      <%= comment.text %><br>
    <% end %>
  <% else %>
    There are no comments for this ticket.
  <% end %>
</div>
